adf/pipeline/CreateMultipleFilesForEachTable.json
{
	"name": "CreateMultipleFilesForEachTable",
	"properties": {
		"activities": [
			{
				"name": "CreateFileLocallyForAzureTable1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetInformationForAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlSource",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('GetInformationForAllTables').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText_Local_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@activity('GetInformationForAllTables').output.value[0].name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GetInformationForAllTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from tblTableName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlSource",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "na"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CreateFileLocallyForAzureTable2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CreateFileLocallyForAzureTable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlSource",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('GetInformationForAllTables').output.value[1].name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText_Local_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@activity('GetInformationForAllTables').output.value[1].name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}