adf/pipeline/IncrementalDataExtractFromSql.json
{
	"name": "IncrementalDataExtractFromSql",
	"properties": {
		"activities": [
			{
				"name": "ExtractAndLoadIncrementalData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ExtractLastUpdateDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ExtractLastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select *\nfrom tbluser\nwhere Last_m>=\n'@{activity('ExtractLastUpdateDate').output.firstrow.Last_m}'\nand Last_m>\n'@{activity('ExtractLastLoadDate').output.firstrow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": {
							"value": "'dbo.userdata'",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Key",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Key",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Last_m",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "Last_m",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_tblUser",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Destination_User_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ExtractLastUpdateDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Source_tblUser",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ExtractLastLoadDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Source_tblControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateLastLoadDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExtractAndLoadIncrementalData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@{activity('ExtractLastUpdateDate').output.firstrow.Last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "tbluser",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}