adf/pipeline/IncrementallyExtractUserTable.json
{
	"name": "IncrementallyExtractUserTable",
	"properties": {
		"activities": [
			{
				"name": "Get_LastModified_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Source_tblUser",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get_Last_LoadDate_Control_Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Source_tblControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_Incremental_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_LastModified_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_Last_LoadDate_Control_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from tbluser\nWhere [Last_m] <=\n'@{activity('Get_LastModified_Date').output.firstrow.Last_m}'\nand [Last_m] >=\n'@{activity('Get_Last_LoadDate_Control_Table').output.firstrow.Last_m}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Source_tblUser",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateLastModifiedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Incremental_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@{activity('Copy_Incremental_Data').output.firstrow.Last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "'tblUser'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}